name: notify

on: [issues]

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Telegram Notify
        uses: appleboy/telegram-action@0.0.7
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          format: markdown
          message: |
            Issue ${{ github.event.action }} by ${{ github.event.issue.user.login }}
            [#${{ github.event.issue.number }} ${{ github.event.issue.title }}](${{ github.event.issue.html_url }})
            ${{ github.event.issue.body }}
